.accrd{
  border-color: rgb(255, 197, 47) !important;
  border-width: 1vh !important;
  margin-bottom: 1vh;
 
}

.App{
  background-color: rgb(18, 40, 75);
  display: grid;
  justify-content: center;
  align-items: center;
}
